#fileShare {
  border: 3px solid purple;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 purple;
  padding: 3em 4em;
  text-align: center;
  position: absolute;
  color: white;
  background: #000000cf;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#fileShare button {
  border: none;
  padding: 1em 2em;
  border-radius: 10px;
  background-color: purple;
  color: white;
}
#fileShare button:hover {
  background-color: rgb(90, 1, 90);
}
#downloadResult {
  width: 100%;
  position: relative;
  overflow-wrap: anywhere;
  top: 20px;
}
#downloadResult a {
  text-decoration: none;
  color: purple;
}
#downloadResult a:hover {
  color: rgb(90, 1, 90);
}
.fileshareBG {
  height: 100%;
  width: 100%;
  background-image: url(../../assets/faraway.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 600px) {
  #fileShare {
    padding: 2em 3em;
    text-align: center;
    width: 318px;
  }
}
