.game-background{
    background-image: url("../../assets/hangman-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.game-popup-backscreen{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000a6;
}

.game-popup{
    position: fixed;
    box-shadow: 0 0 5px 0 #000;
    border: 1px solid gray;
    background-color: #00000093;
    background-image: url("../../assets/hangman-background.jpg");
    background-position: bottom;
    border-radius: 10px;
    z-index: 3;
    width: 90%;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @media (min-width: 768px) {
        width: 500px;
    }

    .button-content{
        display: flex;
        gap:10px;

        button{
            width: 100%;
            height: 50px;
            border: 0;
            background-color: lightgray;
            box-shadow: 0 4px gray;
            
            &:hover{
                position: relative;
                top:2px;
                box-shadow: none;
            }
        }
    }
}

.hangman-menu{
  background-color: #ffffff1a;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px 0 30px;
}

.hangman-container {
  background-color: #ffffff1a;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 20px 0 30px;

  .hangman-display {
    height: 400px;

    .word-category{
      position: relative;
      bottom: 30px;
      margin: 0;
      font-size: 20px;
      color: burlywood;
      text-shadow: 2px 2px 8px black;
      text-transform: capitalize;

      span{
        color: yellowgreen;
        margin-right: 50px;
        margin-left: 10px;
        
        @media (min-width: 768px) {
          margin-left: -50px;
        }
      }
    }

    .hangman-poll {
      background-image: url("../../assets/hanged-eight.png");
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-position-x: 44%;
      
      @media (min-width: 768px) {
        background-position-x: center;
      }

      &.hang-1 {
        background-image: url("../../assets/hanged-seven.png");
      }

      &.hang-2 {
        background-image: url("../../assets/hanged-six.png");
      }

      &.hang-3 {
        background-image: url("../../assets/hanged-five.png");
      }

      &.hang-4 {
        background-image: url("../../assets/hanged-four.png");
      }

      &.hang-5 {
        background-image: url("../../assets/hanged-three.png");
      }

      &.hang-6 {
        background-image: url("../../assets/hanged-two.png");
      }

      &.hang-7 {
        background-image: url("../../assets/hanged-one.png");
      }
    }
  }

  .blank-block {
    margin-bottom: 10px;

    span.blank-space {
      display: inline-block;
      background: #ffffff1c;
      color: #fff;
      width: 29px;
      margin: 4px;
      font-size: 22px;
      box-shadow: 0 3px 0 darkgray;
      border: 1px solid gray;

      @media (min-width: 768px) {
        width: 40px;
        margin: 10px;
        font-size: 35px;
      }

      @media (min-width: 991px) {
        font-size: 45px;
        width: 60px;
        height: 70px;
      }
    }
  }

  .hangman-word-guess {
    text-align: center;
    padding: 20px 0;
    background: #0000005e;
    box-shadow: 0 0 5px 0 #000;

    .keyboard-block {
      width: 100%;
      margin: 0 auto;

      @media (min-width: 768px) {
        width: 500px;
      }

      @media (min-width: 991px) {
        width: 900px;
      }

      button {
        width: 40px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0px 4px darkgray;
        padding: 5px;
        font-size: 14px;
        background-image: url("../../assets/hangman-background.jpg");
        color: #fff;
        border: 1px solid gray;
        background-position: bottom;

        &.isClicked{
            background: grey;
            color: lightgray;
            position: relative;
            top: 2px;
            box-shadow: none;
            pointer-events: none;
        }

        @media (min-width: 768px) {
          padding: 5px 10px;
          font-size: 20px;
        }

        @media (min-width: 991px) {
          font-size: 32px;
          width: 80px;
        }

        &:hover {
          position: relative;
          top: 2px;
          box-shadow: none;
        }
      }
    }
  }
}
