.Not-found-container{
    background-color: #00000042;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    height: 100%;

    a:hover{
        text-decoration: none;
        color: #fff;
    }

    .left-col{
        text-align: center;

        h1,p{
            text-shadow: 4px 4px 4px #000;
        }

        .btn-grad{
            margin-bottom: 15px;
        }
    }
    .right-col{
        text-align: center;

        img{
            width: 100%;
            max-width: 500px;
        }
    }
}