body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: OpenSans-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "OpenSans-Medium";
  src: local("OpenSans-Medium"),
    url("./fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar.navbar-expand-lg,
footer {
  z-index: 10;
}
